<a href="https://colab.research.google.com/github/Sateesh110/Python/blob/master/Py_Excel/zs_Advance_CSV_ReadWrite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Read & Write CSV Files

## Import Libraries

In [1]:
import csv
import pandas as pd

In [2]:
print(csv.__file__)

/usr/lib/python3.6/csv.py

## Read file Using csv module

In [ ]:
with open('employee_birthday.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}')

	name works in the department department, and was born in birthday month
	John Smith works in the Accounting department, and was born in November
	Erica Meyers works in the IT department, and was born in March

In [ ]:
with open('employee_birthday.csv', mode='r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        print(row)
        print(row[0],row[1],row[2])

['name', 'department', 'birthday month']
name department birthday month
['John Smith', 'Accounting', 'November']
John Smith Accounting November
['Erica Meyers', 'IT', 'March']
Erica Meyers IT March

In [ ]:
with open('employee_birthday.csv') as csv_file:
    csv_reader = csv.DictReader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        print(f'\t{row["name"]} works in the {row["department"]} department, and was born in {row["birthday month"]}')

	John Smith works in the Accounting department, and was born in November
	Erica Meyers works in the IT department, and was born in March

In [ ]:
with open("hrdata.csv") as csv_file:
    csv_reader = csv.reader(csv_file,delimiter=',')
    line_count = 0
    for line in csv_reader:
        print(line)

['Name', 'Hire Date', 'Salary', 'Sick Days remaining']
['Graham Chapman', '03/15/14', '50000.00', '10']
['John Cleese', '06/01/15', '65000.00', '8']
['Eric Idle', '05/12/14', '45000.00', '10']
['Terry Jones', '11/01/13', '70000.00', '3']
['Terry Gilliam', '08/12/14', '48000.00', '7']
['Michael Palin', '05/23/13', '66000.00', '8']

In [ ]:
with open("hrdata.csv") as csv_file:
    csv_reader = csv.reader(csv_file,delimiter=',')
    line_count = 0
    for line in csv_reader:
        if line_count == 0:
            print(f'header:{line}')
            line_count+=1
        else:
            print(f'Data:{line}')

header:['Name', 'Hire Date', 'Salary', 'Sick Days remaining']
Data:['Graham Chapman', '03/15/14', '50000.00', '10']
Data:['John Cleese', '06/01/15', '65000.00', '8']
Data:['Eric Idle', '05/12/14', '45000.00', '10']
Data:['Terry Jones', '11/01/13', '70000.00', '3']
Data:['Terry Gilliam', '08/12/14', '48000.00', '7']
Data:['Michael Palin', '05/23/13', '66000.00', '8']

In [ ]:
# csv file with pipe
with open("hrdata_Delimited.csv") as csv_file:
    csv_reader = csv.reader(csv_file,delimiter='|')
    line_count = 0
    for line in csv_reader:
        if line_count == 0:
            print(f'header:{line}')
            line_count+=1
        else:
            print(f'Data:{line}')

header:['Name', 'Hire Date', 'Salary', 'Sick Days remaining']
Data:['Graham Chapman', '03/15/14', '50000.00', '10']
Data:['John Cleese', '06/01/15', '65000.00', '8']
Data:['Eric Idle', '05/12/14', '45000.00', '10']
Data:['Terry Jones', '11/01/13', '70000.00', '3']
Data:['Terry Gilliam', '08/12/14', '48000.00', '7']
Data:['Michael Palin', '05/23/13', '66000.00', '8']

In [ ]:
# csv file having name in quotes
with open("hrdata_QuoteChar.csv") as csv_file:
    csv_reader = csv.reader(csv_file,delimiter=',',quotechar ='"')
    line_count = 0
    for line in csv_reader:
        if line_count == 0:
            print(f'header:{line}')
            line_count+=1
        else:
            print(f'Data:{line}')

header:['Name', 'Hire Date', 'Salary', 'Sick Days remaining']
Data:['Graham Chapman', '03/15/14', '50000.00', '10']
Data:['John, Cleese', '06/01/15', '65000.00', '8']
Data:['Eric Idle', '05/12/14', '45000.00', '10']
Data:['Terry, Jones', '11/01/13', '70000.00', '3']
Data:['Terry, Gilliam', '08/12/14', '48000.00', '7']
Data:['Michael, Palin', '05/23/13', '66000.00', '8']

In [ ]:
# csv file having name in quotes
with open("hrdata_Escape.csv") as csv_file:
    csv_reader = csv.reader(csv_file,delimiter=',',escapechar ='|')
    line_count = 0
    for line in csv_reader:
        if line_count == 0:
            print(f'header:{line}')
            line_count+=1
        else:
            print(f'Data:{line}')

header:['Name', 'Hire Date', 'Salary', 'Sick Days remaining']
Data:['Graham, Chapman', '03/15/14', '50000.00', '10']
Data:['John, Cleese', '06/01/15', '65000.00', '8']
Data:['Eric Idle', '05/12/14', '45000.00', '10']
Data:['Terry, Jones', '11/01/13', '70000.00', '3']
Data:['Terry Gilliam', '08/12/14', '48000.00', '7']
Data:['Michael, Palin', '05/23/13', '66000.00', '8']

## Write file Using csv module

In [ ]:
# Writing CSV File

with open('EMP_Write.csv', mode='w') as employee_file:
    employee_writer = csv.writer(employee_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    
    employee_writer.writerow(['John Smith', 'Accounting', 'November'])
    employee_writer.writerow(['Erica Meyers', 'IT', 'March'])

In [ ]:
# Write csv file with full quote

with open('EMP_Write_QuoteALL.csv', mode='w') as employee_file:
    employee_writer = csv.writer(employee_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_ALL)
    
    employee_writer.writerow(['John Smith', 'Accounting', 'November'])
    employee_writer.writerow(['Erica Meyers', 'IT', 'March'])

In [ ]:
# Write csv file with QUOTE_NONNUMERIC; will quote all fields containing text data and convert all numeric fields to the float data type.

with open('EMP_Write_QuoteNonNumeric.csv', mode='w') as employee_file:
    employee_writer = csv.writer(employee_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_NONNUMERIC)
    
    employee_writer.writerow(['John Smith', 'Accounting', 'November', 100])
    employee_writer.writerow(['Erica Meyers', 'IT', 'March', 120])

In [ ]:
# Write csv file with escapechar

with open('EMP_Write_Escape.csv', mode='w') as employee_file:
    employee_writer = csv.writer(employee_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_NONE, escapechar ='|')
    
    employee_writer.writerow(['John, Smith', 'Accounting', 'November', 100])
    employee_writer.writerow(['Erica, Meyers', 'IT', 'March', 120])

In [ ]:
# Write csv file using dictionary method

with open ("emp_dictmethod.csv", mode='w') as employee_file:
    fieldnames = ['Name','Dept', 'Month','id']
    writer = csv.DictWriter(employee_file, fieldnames=fieldnames)
    
    writer.writeheader()
    writer.writerow({'Name': 'John Smith', 'Dept': 'Accounting', 'Month': 'November', 'id': 100})
    writer.writerow({'Name': 'Erica Meyers', 'Dept': 'IT', 'Month': 'March', 'id': 120})

## Read file Using Pandas

In [ ]:
# import using pandas

df_csv = pd.read_csv('hrdata.csv')
df_csv

             Name Hire Date   Salary  Sick Days remaining
0  Graham Chapman  03/15/14  50000.0                   10
1     John Cleese  06/01/15  65000.0                    8
2       Eric Idle  05/12/14  45000.0                   10
3     Terry Jones  11/01/13  70000.0                    3
4   Terry Gilliam  08/12/14  48000.0                    7
5   Michael Palin  05/23/13  66000.0                    8

In [ ]:
df_csv = pd.read_csv('hrdata.csv', index_col = "Name")
df_csv

               Hire Date   Salary  Sick Days remaining
Name
Graham Chapman  03/15/14  50000.0                   10
John Cleese     06/01/15  65000.0                    8
Eric Idle       05/12/14  45000.0                   10
Terry Jones     11/01/13  70000.0                    3
Terry Gilliam   08/12/14  48000.0                    7
Michael Palin   05/23/13  66000.0                    8

In [ ]:
df_csv = pd.read_csv('hrdata.csv', index_col = "Name", parse_dates = ['Hire Date'])
df_csv

                Hire Date   Salary  Sick Days remaining
Name
Graham Chapman 2014-03-15  50000.0                   10
John Cleese    2015-06-01  65000.0                    8
Eric Idle      2014-05-12  45000.0                   10
Terry Jones    2013-11-01  70000.0                    3
Terry Gilliam  2014-08-12  48000.0                    7
Michael Palin  2013-05-23  66000.0                    8

In [ ]:
df_csv = pd.read_csv('hrdata.csv', index_col = "Employee", header=0, parse_dates = ['Hired'], names=['Employee', 'Hired', 'Salary', 'Sick Days'])
df_csv

                    Hired   Salary  Sick Days
Employee
Graham Chapman 2014-03-15  50000.0         10
John Cleese    2015-06-01  65000.0          8
Eric Idle      2014-05-12  45000.0         10
Terry Jones    2013-11-01  70000.0          3
Terry Gilliam  2014-08-12  48000.0          7
Michael Palin  2013-05-23  66000.0          8

## Write file Using csv module

In [ ]:
# write csv 
df_csv.to_csv('hrdata_modified.csv')